body {
    background: url("./public/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(0,0,0,0.8);
    padding: 10px;
}

.logo {
    width: 120px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
}

.movie-card {
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}